* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #BFDBF7;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #1F7A8C;
    height: 80px;
}

.logo {
    position: absolute;
    left: 1%;
}

.nav {
    width: 100%;
    display: flex;
    justify-content: center;
}

.nav ul {
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-around;
    width: 50%;
    list-style: none;
}

.nav-button {
    text-decoration: none;
    color: #BFDBF7;
    font-size: 22px;
    font-weight: bold;
}

.nav-button:hover {
    color: #E5E5E5;
}

.body h1{
    margin-top: 60px;
    text-align: center;
    color: #022B3A;
    font-size: 35px;
}

.itens-body {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 50px;
}

.sobre-projeto {
    background: #2E7D9A;
    width: 490px;
    height: 400px;
}

.grafico {
    background: #2E7D9A;
    width: 650px;
    height: 400px;
}

.conteudo1, .conteudo2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 25px;
    margin-bottom: 70px;
}

.conteudo1 .sobre-projeto, .conteudo2 .grafico {
    border-radius: 50px;
}

.sobre-projeto, .grafico {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sobre-projeto h2, .grafico h2 {
    margin-top: 25px;
    color: #EEF0F2;
    font-size: 30px;
}

.sobre-projeto p, .grafico p {
    margin: auto 50px;
    color: #EEF0F2;
    font-size: 26px;
    text-align: center;
}

.conteudo1 .btn-sobre-projeto, .conteudo2 .btn-buscar-cidades{
    width: 150px;
    height: 50px;
    margin-top: 30px;
    background: #022B3A;
    border-radius: 30px;
    color: #EEF0F2;
    font-size: 15px;
    border-style: none;
    cursor: pointer;
}

.conteudo1 .btn-sobre-projeto:hover, .conteudo2 .btn-buscar-cidades:hover {
    background: #1F7A8C;
}

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #1F7A8C;
    height: 81px;
}

.footer p {
    color: #EEF0F2;
    font-size: 20px;
    margin-left: 9%;
}

.footer .logo1 {
    width: 55px;
    height: 55px;
    background: #EEF0F2;
    border-radius: 30px;
    margin-left: 25px;
}

.footer .logo-footer-git {
    width: 55px;
    height: 55px;
    cursor: pointer;
}

.footer .logo-footer-unb {
    width: 260px;
    height: 75px;
    margin-right: 15px;
}


