* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #BFDBF7;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #1F7A8C;
    height: 80px;
}

.logo {
    position: absolute;
    left: 1%;
}

.nav {
    width: 100%;
    display: flex;
    justify-content: center;
}

.nav ul {
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-around;
    width: 50%;
    list-style: none;
}

.nav-button {
    text-decoration: none;
    color: #BFDBF7;
    font-size: 22px;
    font-weight: bold;
}

.nav-button:hover {
    color: #E5E5E5;
}

.texto-pesquisa{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 2.5%;
}

.texto-pesquisa h2 {
    font-size: 40px;
    color: #022B3A;
    margin-bottom: 10px;
}

.texto-pesquisa p {
    font-size: 23px;
    color: #022B3A;
    margin-top: 20px;
}

.item-selection {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

select {
    background: white;
    color:#022B3A;
    font-size: 16px;
}

select:focus {
    outline: none;
}

.item-selection select, button {
    margin: 20px;
    margin-top: 50px;
}

.item-selection select {
    border-radius: 15px;
    border: initial;
    padding-left: 10px;
}

.item-selection .select-cidade {
    width: 300px;
    height: 50px;
}

.item-selection .select-ano {
    width: 170px;
    height: 50px;
}

.item-selection .select-mes {
    width: 150px;
    height: 50px;
}

.graficos-pesquisa {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.graficos-pesquisa .grafico1-pesquisa, .grafico2-pesquisa{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60%;
    height: 350px;
    margin-top: 40px;
    background: #5BA7C8;
    border-radius: 50px;
}

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #1F7A8C;
    height: 81px;
    margin-top: 5%;
}

.footer p {
    color: #EEF0F2;
    font-size: 20px;
    margin-left: 9%;
}

.footer .logo1 {
    width: 55px;
    height: 55px;
    background: #EEF0F2;
    border-radius: 30px;
    margin-left: 25px;
}

.footer .logo-footer-git {
    width: 55px;
    height: 55px;
    cursor: pointer;
}

.footer .logo-footer-unb {
    width: 260px;
    height: 75px;
    margin-right: 15px;
}