@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
body {
    background: #BFDBF7;
}

.header-sobre {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #1F7A8C;
    height: 80px;
}

.logo {
    position: absolute;
    left: 1%;
    top: 2px;
}

.nav {
    width: 100%;
    display: flex;
    justify-content: center;
}

.nav ul {
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-around;
    width: 50%;
    list-style: none;
}

.nav-button {
    text-decoration: none;
    color: #BFDBF7;
    font-size: 22px;
    font-weight: bold;
}

.nav-button:hover {
    color: #E5E5E5;
}

.itens-body-sobre {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
}

.conteudo1-sobre {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.conteudo1-sobre h2 {
    margin-bottom: 30px;
    color: #022B3A;
    font-size: 33px;
    text-align: center;
}

.conteudo1-sobre p {
    margin-top: 15px;
    color: #022B3A;
    font-size: 24px;
    text-align: center;
}

.conteudo1-sobre a {
    font-style: italic;
    color: #022B3A;
}

.conteudo1-sobre .possivel-img{
    display: flex;
    justify-content: center;
    align-items: center;
    background: white;
    width: 700px;
    height: 500px;
    margin-top: 50px;
}

.conteudo2-sobre h2 {
    margin-top: 45px;
    color: #022B3A;
    font-size: 33px;
    text-align: center;
}

.conteudo2-sobre p {
    margin-top: 35px;
    padding: 10px;
    color: #022B3A;
    font-size: 24px;
    text-align: center;
}

.conteudo2-sobre .box {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.conteudo2-sobre .integrantes1 {
    margin: 3% 2%;
}

.conteudo2-sobre .integrantes{
    background: white;
    width: 55px;
    height: 55px;
    border-radius: 30px;
}

.footer-sobre {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #1F7A8C;
    height: 81px;
}

.footer-sobre p {
    color: #EEF0F2;
    font-size: 20px;
    margin-left: 9%;
}

.footer-sobre .logo1-sobre {
    width: 55px;
    height: 55px;
    background: #EEF0F2;
    border-radius: 30px;
    margin-left: 25px;
}

.footer-sobre .logo-footer-git {
    width: 55px;
    height: 55px;
    cursor: pointer;
}

.footer-sobre .logo-footer-unb {
    height: 60px;
    margin-right: 15px;
}

@media (max-width: 1180px){
    .nav ul {
        gap: 60px;
    }

    .conteudo1-sobre {
        width: 85%;
    }

    .conteudo1-sobre h2 {
        font-size: 33px;
    }

    .conteudo1-sobre p {
        font-size: 22px;
    }

    .conteudo2-sobre {
        width: 80%;
    }

    .conteudo2-sobre h2 {
        font-size: 33px;
    }

    .conteudo2-sobre p {
        font-size: 22px;
    }

    .footer-sobre p{
        margin-top: 5px;
    }

    .conteudo2-sobre .integrantes{
        margin-top: 20px;
        margin-bottom: 30px;
    }
}

@media (max-width: 768px){
    .conteudo1-sobre .possivel-img{
        width: 500px;
        height: 400px;
    }

    .conteudo1-sobre h2 {
        margin: 10px;
    }

    .conteudo1-sobre h2, .conteudo2-sobre h2 {
        font-size: 28px;
    }
}

@media (max-width: 730px){
    .logo {
        display: none;
    }
}

@media (max-width: 640px){
    .footer-sobre p {
        display: none;
    }

    .footer-sobre .logo-footer-unb{
        width: 70%;
        height: 80%;
        margin-left: 20%;
    }

    .conteudo2-sobre .integrantes{
        width: 44px;
        height: 44px;
    }
}

@media (max-width: 540px) {
    .conteudo1-sobre .possivel-img {
        width: 340px;
        height: 300px;
    }
}


