* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #BFDBF7;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #1F7A8C;
    height: 80px;
}

.logo {
    position: absolute;
    left: 1%;
}

.nav {
    width: 100%;
    display: flex;
    justify-content: center;
}

.nav ul {
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-around;
    width: 50%;
    list-style: none;
}

.nav-button {
    text-decoration: none;
    color: #BFDBF7;
    font-size: 22px;
    font-weight: bold;
}

.nav-button:hover {
    color: #E5E5E5;
}

.itens-body-sobre {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}

.conteudo1-sobre {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.conteudo1-sobre h2 {
    margin-bottom: 45px;
    color: #022B3A;
    font-size: 35px;
    text-align: center;
}

.conteudo1-sobre p {
    margin-top: 15px;
    color: #022B3A;
    font-size: 26px;
    text-align: center;
}

.conteudo1-sobre .possivel-img{
    display: flex;
    justify-content: center;
    align-items: center;
    background: white;
    width: 700px;
    height: 500px;
    margin-top: 50px;
}

.conteudo2-sobre h2 {
    margin-top: 45px;
    color: #022B3A;
    font-size: 35px;
    text-align: center;
}

.conteudo2-sobre p {
    margin-top: 35px;
    color: #022B3A;
    font-size: 26px;
    text-align: center;
}

.conteudo2-sobre .box {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.conteudo2-sobre .integrantes{
    background: white;
    width: 55px;
    height: 55px;
    margin: 35px;
    border-radius: 30px;
}

/*
.conteudo1-sobre, .conteudo2-sobre {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 500px;
    height: 500px;
    background: #2E7D9A;
    border-radius: 50px;
    margin-bottom: 43px;
}
*/

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #1F7A8C;
    height: 81px;
}

.footer p {
    color: #EEF0F2;
    font-size: 20px;
    margin-left: 9%;
}

.footer .logo1 {
    width: 55px;
    height: 55px;
    background: #EEF0F2;
    border-radius: 30px;
    margin-left: 25px;
}

.footer .logo-footer-git {
    width: 55px;
    height: 55px;
    cursor: pointer;
}

.footer .logo-footer-unb {
    width: 260px;
    height: 75px;
    margin-right: 15px;
}


